body {
    height: 100vh;
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    background-color: palegoldenrod;
    font-family: "Akronim", serif;
}
p {
    font-size: 10rem;
}
span {
    display: inline-block;
    animation: rotateY 3s linear infinite;
    color: red;
}
@keyframes rotateY{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}